logs/
log/
tmp/
Dockerfile
docker-compose.yml
README.md
.env*

.DS_Store
.DS_Store/
.git/
.bundle/
vendor/bundle/
.circleci/

.byebug_history
/coverage/*
tags
.ctags_exclude

# Ignore master key for decrypting credentials
config/master.key

# Do not bring over assets, as we pull and precompile them
node_modules/
public/assets/
