# Simplify running the application inside a container locally.
# Usage: `docker-compose up`
#
# Do not use docker-compose in production environments.
#
version: '3'

services:
  db:
    image: postgres
  web:
    build: .
    environment:
      - DATABASE_URL=postgresql://postgres@db/hmpps-book-secure-move-api
      - SECRET_KEY_BASE=h463472fhaa91f4a277002e9652f86f330e636358e2090d86ab4a4f06845ege1
      - SERVE_API_DOCS=true
    ports:
      - "3000:3000"
    depends_on:
      - db
