<p>
  This is a placeholder for the Overview Page layout
</p>
<p>
  <%= link_to 'Authentication', page_path('authentication') %><br/>
  <%= link_to 'Feedback', page_path('feedback') %><br/>
  <%= link_to 'Contributing', page_path('contributing') %>
</p>