{{- $fullName := printf "%s-%s" (include "generic-service.fullname" $) "weekly-prison-recall-config" | trunc 52 }}
{{- if .Values.scripts.reports.weeklyPrisonRecalls.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}
data:
  from-date: "7 days ago"
  to-date: "1 day ago"
  subject: "BaSM Prison Recall Report [TODAY_DATE]"
  body: "BaSM Prison Recall report for last week ([FROM_DATE_FULL] to [TO_DATE_FULL]) is available at the link below."
  filename: "basm-prison-recall-report-[TODAY_DATE]"
  retention: "1 week"
  confirm_email: "true"
  report_sql: |-
    SELECT
        moves.reference,
        moves.status AS "Status",
        moves.move_type AS "Move type",
        from_location.title AS "From location name",
        from_location.nomis_agency_id AS "From location code",
        to_location.title AS "To location name",
        to_location.nomis_agency_id AS "To location code",
        moves.additional_information AS "Additional information",
        TO_CHAR(moves.date, 'YYYY-MM-DD') AS "Date of travel",
        people.prison_number AS "Prison number",
        people.last_name AS "Last name",
        people.first_names AS "First name",
        TO_CHAR(people.date_of_birth, 'YYYY-MM-DD') AS "Date of birth",
        genders.title AS "Gender",
        j.billable as "Journey billable",
        suppliers.name AS "Supplier",
        req.occurred_at AS "Move requested",
        accept.occurred_at AS "Move booked",
        handover.occurred_at AS "Handover to supplier",
        jpbv.occurred_at AS "Boarded vehicle",
        jstart.occurred_at AS "Journey start",
        COALESCE (jaogloc.occurred_at, jaog.occurred_at) AS "Arrived at gate",
        COALESCE (jatogloc.occurred_at, jatog.occurred_at) AS "Admitted through gate",
        COALESCE (jatrloc.occurred_at, jatr.occurred_at) AS "Admitted to reception",
        jhtd.occurred_at AS "Handover to destination"
    FROM
        moves
    
    LEFT JOIN
        locations AS from_location ON moves.from_location_id = from_location.id
    
    LEFT JOIN
        locations AS to_location ON moves.to_location_id = to_location.id
    
    LEFT JOIN
        profiles ON moves.profile_id = profiles.id
    
    LEFT JOIN
        people ON profiles.person_id = people.id
    
    LEFT JOIN
        genders ON people.gender_id = genders.id
    
    LEFT JOIN
        suppliers ON moves.supplier_id = suppliers.id
    
    LEFT JOIN
        journeys j ON j.id = (SELECT id FROM journeys j2 WHERE j2.state <> 'rejected' AND j2.move_id = moves.id ORDER BY j2.created_at limit 1)
    
    LEFT JOIN
        generic_events req ON req.type = 'GenericEvent::MoveRequested' AND req.eventable_type = 'Move' AND req.eventable_id = moves.id
    
      LEFT JOIN LATERAL (
          SELECT occurred_at FROM generic_events ac
          WHERE ac.eventable_type = 'Move'
          AND ac.eventable_id = moves.id
          AND ac.type = 'GenericEvent::MoveAccept'
          ORDER BY ac.created_at limit 1
      ) accept on TRUE
    
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events h
        WHERE h.eventable_type = 'Journey'
        AND h.eventable_id = j.id
        AND h.type = 'GenericEvent::JourneyHandoverToSupplier'
        ORDER BY h.created_at limit 1
    ) handover ON TRUE
  
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events b
        WHERE b.eventable_type = 'Journey'
        AND b.eventable_id = j.id
        AND b.type = 'GenericEvent::JourneyPersonBoardsVehicle'
        ORDER BY b.created_at limit 1
    ) jpbv ON TRUE
    
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events js
        WHERE js.eventable_type = 'Journey'
        AND js.eventable_id = j.id
        AND js.type = 'GenericEvent::JourneyStart'
        ORDER BY js.created_at limit 1
    ) jstart ON TRUE
    
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events arr
        WHERE arr.eventable_type = 'Journey'
        AND arr.eventable_id = j.id
        AND arr.type = 'GenericEvent::JourneyArriveAtOuterGate'
        ORDER BY arr.created_at limit 1
    ) jaog ON TRUE
  
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events arr1
        WHERE arr1.eventable_type = 'Journey'
        AND arr1.eventable_id = j.id
        AND arr1.type = 'GenericEvent::JourneyArriveAtOuterGate'
        AND arr1.details ->> 'location_id' = to_location.id::text
        ORDER BY arr1.created_at limit 1
    ) jaogloc ON TRUE
  
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events tg
        WHERE tg.eventable_type = 'Journey'
        AND tg.eventable_id = j.id
        AND tg.type = 'GenericEvent::JourneyAdmitThroughOuterGate'
        ORDER BY tg.created_at limit 1
    ) jatog ON TRUE
    
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events tg1
        WHERE tg1.eventable_type = 'Journey'
        AND tg1.eventable_id = j.id
        AND tg1.type = 'GenericEvent::JourneyAdmitThroughOuterGate'
        AND tg1.details ->> 'location_id' = to_location.id::text
        ORDER BY tg1.created_at limit 1
    ) jatogloc ON TRUE
  
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events rec
        WHERE rec.eventable_type = 'Journey'
        AND rec.eventable_id = j.id
        AND rec.type = 'GenericEvent::JourneyAdmitToReception'
        ORDER BY rec.created_at limit 1
    ) jatr ON TRUE
    
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events rec1
        WHERE rec1.eventable_type = 'Journey'
        AND rec1.eventable_id = j.id
        AND rec1.type = 'GenericEvent::JourneyAdmitToReception'
        AND rec1.details ->> 'location_id' = to_location.id::text
        ORDER BY rec1.created_at limit 1
    ) jatrloc ON TRUE
  
    LEFT JOIN LATERAL (
        SELECT occurred_at FROM generic_events hd
        WHERE hd.eventable_type = 'Journey'
        AND hd.eventable_id = j.id
        AND hd.type = 'GenericEvent::JourneyHandoverToDestination'
        ORDER BY hd.created_at limit 1
    ) jhtd ON TRUE
  
    WHERE moves.move_type = 'prison_recall'
        AND moves.date BETWEEN '[FROM]' AND '[TO]'
    ORDER BY moves.date, people.last_name, people.prison_number, moves.id
{{- end }}
